body {
	background-color: LightGray;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.navbar > li {
	display: inline-block;
	float: right;
	padding-right: 2em;
	padding-top: 10px;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0em;
	margin:0 auto;
	font-family: "Roboto", sans-serif;
	font-size: 16px;

}

.navbar .logo {
	float:left;
	padding-left: 6em;
	padding-top: 0em;
}

.navbar img {
	width:35px;
	height:35px;
}

.black-link {
	color: black;
	font-weight: 500;
}

a:hover {
	color: black;
}

a {
	color: gray;
	text-decoration: none;
}

/*karma background section*/
.background-section {
	width:100%;
	height:100vh;
	background: url(./../images/first-background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow:hidden;
	font-family: "Roboto", sans-serif;
}

/*karma background text and button*/
.background-section .content {
	width:100%;
	margin-top:13em;
	color: white;
	text-align: center;

}

.background-section .content .button {
	background-color:orange;
	width:9.688rem;
	height:4em;
	border-radius:3px;
	margin:0 auto;
	padding: 1.4em;
}